
<div class="container">
	<h1>Painel de Colaboradores</h1>

	<%= link_to 'Nova atividade',new_task_path, class: 'btn btn-primary' %>
	
	<div class="row">
		<% @workers.each do |w| %>
			<div class="panel panel-primary col-xs-4" style="margin: 20px; padding-left: 0; padding-right: 0">
				<div class="panel-heading">
					<h3 class="panel-title"><%= w.name.capitalize%></h3>
				</div>

				<div class="panel-body">
					<div>
						<h4>Atividades</h4>
					</div>
					<% w.tasks.each do |t| %>
						<ul class="list-group">
	  						<li class="list-group-item">
							    <span class="badge"><%= t.points %></span>
							    <%= t.description %>
							</li>
						</ul>
						
					<% end %>
				</div>
				
			</div>	
		<% end %>
	</div>


</div>